.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.phone {
    width: 400px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(221, 221, 221);
}

.headers {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.tab {
    margin: 0;
    padding: 0 10px;
    height: 40px;
    width: 100%;
    box-shadow: 2px 0 2px 2px rgb(201, 201, 201);
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}